/* server-css.css */
.vbox-with-border {
    -fx-border-color: #6B9080;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-background-color: #EAF4F4;
}

.chat-background {
    -fx-background-color: #e3f2fd;
}
.log-background{
    -fx-background-color:#e3f2fd;
    }
.message-text {
    -fx-fill: white;
}

.chat-list {
    -fx-background-color: #e3f2fd;
    -fx-border-color: #6B9080;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-padding: 5;
}


.date-label {
    -fx-font-weight: bold;
    -fx-background-color: #95adb6;
    -fx-padding: 5;
    -fx-background-radius: 10;
    -fx-text-fill: #16697a;
}

.sender-label {
    -fx-font-size: 13;
    -fx-text-fill: #0d2818;
}

.time-label {
    -fx-font-size: 10;
    -fx-text-fill: #04471c;
}

.text-container-left {
    -fx-background-color: #598392;
    -fx-padding: 2 10 2 10;
    -fx-background-radius: 10;
}

.text-container-right {
    -fx-background-color: #124559;
    -fx-padding: 2 10 2 10;
    -fx-background-radius: 10;
}

.message-text-flow {
    -fx-padding: 5;
}


